/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&family=Pompiere&family=Work+Sans&display=swap');

@font-face {
    font-family: 'Bighouse Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/bighouse-regular.otf') format('opentype');
}


@font-face {
    font-family: 'Reenie';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/reenie.ttf') format('truetype');
}


/* STYLES */
body {
    background-color: #EDE2D4;
    text-align: center;
}

* {
    text-align: center;
}

hr {
    width: 80%;
    border: 1px solid #282A2A;
    border-radius: 0.5px;
}

h1 {
    color: #282A2A;
    font-family: 'Bighouse Regular';
    font-size: 70px;
    float: center;
}

h2,
h3,
h4 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

h2 {
    color: #45545E;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;

}

h3 {
    color: #464749;
    font-size: 25px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

h4 {
    color: #353B3D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

a:hover {
    color: #C38266;
}

a {
    text-decoration: none;
    color: #812E1E;
}

p {
    color: #464749;
    font-family: 'Reenie';
    text-align: center;
    font-size: 23px;
    margin-left: 10%;
    margin-right: 10%;
}

#intro {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    float: left;
    width: 33.33%;
}

.column p {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2.5%;
}

.column h3,
.column h4 {
    text-align: center;
}


.column img {
    max-width: 70%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



@media only screen and (max-width: 700px) {
    .column {
        width: 100%;
    }

    h1 {
        font-size: 13vw;
    }

    h2 {
        font-size: 8vw;
        text-align: center;
    }

    h3 {
        font-size: 7vw;
        text-align: center;
    }

    h4 {
        font-size: 5vw;
        text-align: center;
    }

    #intro {
        font-size: 7vw;
    }

    p {
        font-size: 6vw;
    }


    * {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    hr {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}