/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&family=Pompiere&family=Work+Sans&display=swap');

@font-face {
    font-family: 'Bighouse Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/bighouse-regular.otf') format('opentype');
}


@font-face {
    font-family: 'Reenie';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/reenie.ttf') format('truetype');
}


/*
 * TODO: adjust header fonts with italics, font-weight, etc.
 * add norah jones pic
 */

/* STYLES */
body {
    background-color: #EDE2D4;
    text-align: center;
}

* {
    text-align: center;
}

hr {
    width: 80%;
    border: 1px solid #282A2A;
    border-radius: 0.5px;
}

h1 {
    color: #282A2A;
    font-family: 'Bighouse Regular';
    font-size: 70px;
    float: center;
}

h2,
h3,
h4 {
    font-family: 'Work Sans', sans-serif;
}

h2 {
    color: #45545E;
    text-align: left;
    font-size: 35px;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
}

h3 {
    color: #464749;
    font-size: 25px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

h4 {
    color: #353B3D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
}

a:hover {
    color: #C38266;
}

a {
    text-decoration: none;
    color: #812E1E;
}

p {
    color: #464749;
    font-family: 'Reenie';
    text-align: center;
    font-size: 23px;
    margin-left: 10%;
    margin-right: 10%;
}

#intro {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    float: left;
    width: 33.33%;
}

.column p {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2.5%;
}

.column h3,
.column h4 {
    text-align: center;
}


.column img {
    max-width: 80%
}

.four-column {
    float: left;
    width: 25%
}

.four-column img {
    max-width: 90%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.fc {
    width: 100%;
    height: 100%;
    border: 1px solid #EDE2D4;
    perspective: 1000px;
    background-color: transparent;
}

/* This container is needed to position the front and back side */
.fc-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.fc:hover .fc-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.fc-front,
.fc-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* TODO: maybe make backside black and then add text to that image*/
/* TODO: make font typewriter? */
/* Style the back side */
.fc-back {
    transform: rotateY(180deg);
}

.fc,
.fc-inner,
.fc-front,
.fc-back {
    background-color: blue;
}





@media only screen and (max-width: 700px) {

    * {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    hr {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    .column {
        width: 100%
    }

    .four-column {
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    h1 {
        font-size: 13vw;
    }

    h2 {
        font-size: 8vw;
        text-align: center;
    }

    h3 {
        font-size: 7vw;
        text-align: center;
    }

    h4 {
        font-size: 5vw;
        text-align: center;
    }

    #intro {
        font-size: 7vw;
    }

    p {
        font-size: 6vw;
    }

    .fc:active .fc-inner {
        transform: rotateY(180deg);
    }


}