/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&family=EB+Garamond:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,600;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

@font-face {
    font-family: 'Bighouse Regular';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/bighouse-regular.otf') format('opentype');
}

@font-face {
    font-family: 'Emperors';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Emperors.woff') format('woff');
}

@font-face {
    font-family: 'Clockwork';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/clockwork.ttf') format('truetype');
}

@font-face {
    font-family: 'Clockwork 3D';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/clockwork-3d.ttf') format('truetype');
}

@font-face {
    font-family: 'Clueless';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/adlib.ttf') format('truetype');
}

@font-face {
    font-family: 'Courier';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/courier.ttf') format('truetype');
}


@font-face {
    font-family: 'Grooves';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/grooves.ttf') format('truetype');
}


@font-face {
    font-family: 'Fairytail';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/fairytail.ttf') format('truetype');
}

@font-face {
    font-family: 'Reenie';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/reenie.ttf') format('truetype');
}


/* STYLES */
body {
    background-color: #EDE2D4;
    text-align: center;
}

* {
    text-align: center;
}

hr {
    width: 80%;
    border: 1px solid #282A2A;
    border-radius: 0.5px;
}

h1 {
    color: #282A2A;
    font-family: 'Bighouse Regular';
    font-size: 70px;
    float: center;
}

h2 {
    color: #45545E;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
    font-style: italic;
}

h3 {
    color: #464749;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 2.5%;
    margin-bottom: 2.5%
}

h4 {
    color: #353B3D;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 2.5%;
    margin-bottom: 2.5%
}

a:hover {
    color: #C38266;
}



h5 {
    color: #262B2C;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
}

.button {
    color: #353B3D;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 17px;
}

.button:hover {
    color: #D3BDA8;
}

a {
    text-decoration: none;
    color: #812E1E;
}

p {
    color: #464749;
    font-family: 'Reenie';
    text-align: center;
    font-size: 23px;
    margin-left: 10%;
    margin-right: 10%;
}

.column p {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2.5%;
}

#intro {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}

.previous {
    text-align: left;
    color: black;
    line-height: 23px;
}

.next {
    text-align: right;
    color: black;
    line-height: 23px;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
}

.column {
    float: left;
    width: 33.33%;
}

.column img {
    max-width: 70%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 700px) {
    .column {
        width: 100%;
    }

    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 8vw;
        text-align: center;
    }

    h3 {
        font-size: 7vw;
    }

    h4 {
        font-size: 5vw;
    }

    #intro {
        font-size: 7vw;
    }

    p {
        font-size: 6vw;
    }


    * {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .row {
        padding-left: 0;
        padding-right: 0;
    }

    hr {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }
}